include ../card/card

mixin products-best(data, title, mod)
  .best(class= mod)
    .container
      .best__inner
        h2.best__title= title
        ul.best__list
          each item in data
            li.best__item
              +card(item)
        .best__link-wrap
          a.best__link(href="#") View all
