.promo {
  background-color: $grey;

  @include max(670) {
    background-color: transparent;
  }
}

.promo__inner {
  display: flex;
  align-items: center;
  padding-left: 17%;

  @include max($xl) {
    padding-left: 0;
    justify-content: center;
  }

  @include max($lg) {
    justify-content: space-between;
  }
}

.promo__info {
  max-width: 340px;
  margin-right: 7.3%;
  padding: 20px 0;

  @include max($lg) {
    margin-right: 0;
  }
}

.promo__img {
  position: relative;
  z-index: 1;

  @include max($lg) {
    margin-right: 30px;
  }

  @include max(670) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -27px;
    right: 0;
    background-image: url("../img/pattern.svg");
    background-size: 130%;
    width: 176px;
    height: 232px;
    transform: rotate(90deg);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    background-image: url("../img/pattern.svg");
    background-size: 150%;
    width: 135px;
    height: 176px;
    transform: rotate(90deg);
    z-index: -1;
  }

  & img {
    display: block;
  }
}

.promo__title {
  margin: 0;
  max-width: 320px;

  @include max($lg) {
    font-size: 28px;
    max-width: 280px;
  }

  @include max(670) {
    display: none;
  }
}
