section.promo
  .container
    .promo__inner
      .promo__info
        include ../breadcrumbs/breadcrumbs
        h1.promo__title Denim Collection Fall 2019
      .promo__img
        picture
          source(type="image/webp" srcset="img/promo@2x.webp 2x,  img/promo.webp 1x")/
          source(type="image/webp" srcset="img/promo@2x.jpg 2x,  img/promo.jpg 1x")/
          img(src="img/promo.jpg" alt="promo image")
