- let breadcrumbsData = getData('breadcrumbs')

.breadcrumbs
  ul.breadcrumbs__list
    each item in breadcrumbsData
      li.breadcrumbs__item
        if item.path
          a.breadcrumbs__link(href= item.path)= item.title
        else
          span.breadcrumbs__text= item.title
