mixin checkbox(view, type, name, id, checked, mod, text)
  .checkbox(class= view + " " + mod)
    input(type= type, name= name, id= id, checked= checked).checkbox__input.visually-hidden
    label(for= id).checkbox__label #{text}
