section.hero
  .container
    .hero__inner
      include ../nav/nav
      include ../user/user
      +icon('arrow-down')(width="10", height="27", class='hero__arrow')
      .hero__social
        a.hero__link(href="#") Facebook
        a.hero__link(href="#") Instagram
      .hero__content
        .hero__info
          h1.hero__title The quality you deserve
          +icon('label')(class="hero__label")
          +lnk('Check new collection', 'catalog.html', '')
        .hero__img
          +picture('hero', 'denim collection', 'jpg')
