.hero {
  padding: 50px 0;
  background-color: $grey;

  @include max($lg) {
    padding: 83px 0 125px;
  }

  @include max($sm) {
    padding: 100px 0 50px;
  }
}

.hero__inner {
  position: relative;

  & .nav {
    position: absolute;
    top: 0;
    left: 0;

    @include max($lg) {
      top: -38px;
    }

    @include max(670) {
      display: flex;
    }

    @include max($sm) {
      top: -70px;
    }
  }

  & .nav__list {
    flex-direction: column;
    align-items: flex-start;

    @include max($lg) {
      flex-direction: row;
    }
  }

  & .nav__item {
    margin-bottom: 35px;

    @include max($lg) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @include max($sm) {
        margin-right: 25px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .user {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    align-items: flex-end;

    @include max($lg) {
      flex-direction: row;
      top: -38px;
    }

    @include max($sm) {
      top: -75px;
    }

    & .user__btn--cart {
      margin-bottom: 35px;

      @include max($lg) {
        margin-bottom: 0;
      }
    }
  }
}

.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14%;

  @include max($lg) {
    padding: 0 30px 0 85px;
  }

  @include max(700) {
    padding: 0;
  }

  @include max($sm) {
    flex-direction: column-reverse;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;

  @include max($sm) {
    padding-right: 0;
    align-items: center;
  }
}

.hero__social {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include max($lg) {
    flex-direction: row-reverse;
    bottom: -80px;
  }

  @include max($sm) {
    display: none;
  }
}

.hero__link {
  color: $black;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 35px;
  transition: color 0.3s;

  @include max($lg) {
    margin-bottom: 0;
    margin-left: 35px;
  }

  &:last-child {
    margin-bottom: 0;

    @include max($lg) {
      margin-left: 0;
    }
  }

  &:hover {
    color: $blue;
  }
}

.hero__arrow {
  stroke: $black;
  position: absolute;
  bottom: 0;
  left: 0;

  @include max($lg) {
    bottom: -80px;
  }

  @include max($sm) {
    display: none;
  }
}

.hero__title {
  margin: 0 0 20px 0;
  color: $text-grey;
  font-size: 18px;
  font-weight: 400;

  @include max($sm) {
    text-align: center;
  }
}

.hero__label {
  width: 300px;
  height: 110px;
  margin-bottom: 50px;

  @include max($lg) {
    width: 225px;
    height: 85px;
  }

  @include max($sm) {
    width: 205px;
    height: 70px;
    margin-bottom: 40px;
  }
}

.hero__img {
  position: relative;
  width: 51%;
  padding-bottom: 61%;
  z-index: 1;

  @include max($lg) {
    width: 46%;
    padding-bottom: 57%;
  }

  @include max($sm) {
    width: 70%;
    padding-bottom: 86%;
    margin-bottom: 50px;
  }

  &::before {
    content: "";
    width: 232px;
    height: 176px;
    background-image: url("../img/pattern.svg");
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
    background-size: 100%;

    @include max($lg) {
      width: 141px;
      height: 104px;
      top: -30px;
      left: -30px;
    }

    @include max($sm) {
      width: 109px;
      height: 80px;
      top: -20px;
      left: -20px;
    }
  }

  &::after {
    content: "";
    width: 232px;
    height: 176px;
    background-image: url("../img/pattern.svg");
    position: absolute;
    bottom: -50px;
    right: -50px;
    z-index: -1;
    background-size: 100%;

    @include max($lg) {
      width: 141px;
      height: 104px;
      bottom: -30px;
      right: -30px;
    }

    @include max($lg) {
      width: 109px;
      height: 80px;
      bottom: -20px;
      right: -20px;
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
