.footer {
  background-color: $black;
  padding: 50px 0;
}

.footer__inner {
  max-width: 510px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "logo logo logo logo logo"
    "first-link second-link third-link fourth-link fifth-link"
    "social social social social social";

  @include max($sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo first-link"
    "second-link third-link"
    "fourth-link fifth-link"
    "social social";
    justify-content: start;
  }
}

.footer__logo {
  grid-area: logo;
  text-align: center;

  @include max($sm) {
    text-align: left;
  }

  &-link {
    &:hover svg {
      fill: $blue;
    }
  }

  & svg {
    fill: $white;
    transition: fill 0.3s;
  }
}

.footer__link {
  color: $white;
  font-size: 18px;
  transition: color 0.3s;
  padding: 5px;
  text-align: center;

  @include max($sm) {
    text-align: left;
  }

  &:nth-child(1) {
    grid-area: first-link;
  }

  &:nth-child(2) {
    grid-area: second-link;
  }

  &:nth-child(3) {
    grid-area: third-link;
  }

  &:nth-child(4) {
    grid-area: fourth-link;
  }

  &:nth-child(5) {
    grid-area: fifth-link;
  }

  &:hover {
    color: $blue;
  }
}
