- const footerData = getData('footer-links')

footer.footer
  .container
    .footer__inner
      .footer__logo
        a.footer__logo-link(href="index.html")
          +icon('logo')(width="80" height="20")

      each item in footerData
        a.footer__link(href= item.path) #{item.title}

      include ../../blocks/social/social

