.card {
  display: flex;
  flex-direction: column;

  &:hover {
    & .card__item-title {
      color: $blue;
      transition: color 0.3s;
    }

    & .card__price {
      color: $blue;
      transition: color 0.3s;
    }
  }

  &--short .card__img {
    padding-bottom: 108%;
  }
}

.card__img {
  position: relative;
  padding-bottom: 130%;
  margin-bottom: 22px;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  @include max($sm) {
    margin-bottom: 15px;
  }

  & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
}

.card__item-title {
  color: $black;
  margin: 0 0 7px 0;
  font-weight: 500;
  font-size: 18px;

  @include max($sm) {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.card__price {
  color: $black;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}
