extends ../layout/layout
include ../../blocks/products-best/products-best
include ../../blocks/products/products
include ../../blocks/card/card
include ../../blocks/btn/btn

block variables
  - let pageTitle = 'main'
  - const bestData = getData("best")
  - const byCategory = getData("by-category")

block content
  include ../../blocks/header/header

  main.main
    include ../../blocks/hero/hero
    +products-best(bestData, 'Bestsellers', 'best--bestsellers')
    include ../../blocks/banner/banner
    +products-best(byCategory, 'Shop by category', 'best--category')

  include ../../blocks/footer/footer
