extends ../layout/layout
include ../../blocks/products-best/products-best
include ../../blocks/products/products
include ../../blocks/card/card
include ../../blocks/btn/btn

block variables
  - let pageTitle = 'product card'
  - const byLike = getData("by-like")

block content
  include ../../blocks/header/header

  main.main
    include ../../blocks/product/product
    +products-best(byLike, 'You may also like', 'best--like')

  include ../../blocks/footer/footer
