mixin products(data)
  section.products
    .container
      .products__inner
        .products__list
          each item in data
            li.products__item
              +card(item)
        .products__wrap
          p.products__count Showing 9 of 45 items
          +btn("Load more")
