include ../checkbox/checkbox

- let colorData = getData('filter-color');
- let collectionData = getData('filter-collection');

section.filter
  .container
     .filter__inner
       .filter__dropdown
         p.filter__placeholder Filter by
         .filter__wrap
           form.filter__form
             h2.filter__title Filters
             ul.filter__list.accordion
               li.filter__item
                span.filter__item-text Price
                include ../range/range
               li.filter__item
                span.filter__item-text Color
                .filter__checkbox-wrap
                  .filter__checkbox-inner.filter__checkbox-inner--color
                    each item in colorData
                      +checkbox(item.view, item.type, item.name, item.id, item.checked, item.mod, item.text)
               li.filter__item
                span.filter__item-text Collection
                .filter__checkbox-wrap
                  .filter__checkbox-inner.filter__checkbox-inner--collection
                    each item in collectionData
                      +checkbox(item.view, item.type, item.name, item.id, item.checked, item.mod, item.text)
             button.filter__btn.filter__btn--apply(type="submit") Apply (9 products)
             button.filter__btn.filter__btn--clear(type="reset") Clear all
             button.filter__btn.filter__btn--close(type="button") Close
