@include font("Worksans", worksansregular, 400);
@include font("Worksans", worksansmedium, 500);
@include font("Worksans", worksansbold, 700);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Worksans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fcfcfc;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body-lock {
  @include max(320) {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;

  @include max($lg) {
    padding: 0 45px;
  }

  @include max($sm) {
    padding: 0 15px;
  }
}
