$black: #151C22;
$white: #ffffff;

$blue: #4193da;
$grey: #f1f2f4;

$text-grey: #727A82;

$checkbox-light-gray: #B0C3C7;
$checkbox-dark-blue: #3B6392;
$checkbox-gray: #BFC3C8;
$checkbox-black: #2D2E2E;
$checkbox-lighter-gray: #ECECEC;
$checkbox-blue: #4193DA;

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
$xs: 320;
